version 5.198.0

source https://www.nuget.org/api/v2

nuget FSharp.Core
nuget Microsoft.AspNetCore.App
nuget IdentityServer4
nuget FSharp.Data 

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
