source https://www.nuget.org/api/v2

nuget Microsoft.AspNetCore.App = 2.1.4 
nuget Amazon.Lambda.AspNetCoreServer = 3.0.2
nuget AWSSDK.S3 = 3.3.31.19
nuget AWSSDK.Extensions.NETCore.Setup = 3.3.6
nuget IdentityServer4
nuget FSharp.Data 